<nav class="nav-bar">
    <a href="/">
        <div class="logo-container">
            <img id="logo" src="/image/wallpaper.png" alt="logo">
            <p><span id="title">MyWallpapers</span></p>
        </div>
    </a>
    <div class="nav-links">
        <ul>
            <li><a href="#">Top</a></li>
            <li><a href="/wallpaper/upload">Upload</a></li>
            <li><a href="#footer">Footer</a></li>
        </ul>
    </div>
</nav>